/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 10%;
}
.nav-links {
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 30px;
  margin-left: 20px;
}

span {
  margin-left: 30px;
}
.links {
  display: flex;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
a:hover {
  transform: scale(1.1);
}
nav {
  width: 100vw;
  background-color: black;
}

.image-header {
  display: flex;
  margin-left: 15px;
  padding-top: 10px;
  margin-top: 0;
}
.name {
  color: white;
  margin-left: 10px;
  font-family: monospace;
}
.icons {
  font-size: 40px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
}
.App-headers {
  background-color: #282c34;
  display: flex;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0;
    background-color: #282c34;
}
